body {
  font-family: "Open Sans", sans-serif; 
}

h1, h2, h3, .card-body>h5 {
  font-family: "Lobster", cursive; 
}

h2 {
  color: #3046C5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(to right, #ffc4a3, #ffeadb );
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #f96d80, #ff9a76, #ffc4a3 );
  color: white;
}

.navbar-dark {
  background-color: #f96d80;
}