body {
  font-family: "Open Sans", sans-serif; 
  text-align: center; 
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2, h3, h5, .card-body>h5 {
  font-family: 'Signika Negative', sans-serif;
}

h4 {
  color: #ff7171; 
}

h6 {

}

h2 {
  color: purple;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: url("/assets/images/logo.png");
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: url("/assets/images/logo.png");
  color: white;
}

.navbar {
  background-image: url("/assets/images/logo.png");
}

.navcolor {
  color: black;
}

.carousel-item > img { 
  width: 500px;
  height: 500px; 
  border-radius: 50%; 
  margin: auto; 
}

.features {
  background-color: yellow;
  padding: 4.5%; 
}

.navItem {
  color: purple;
}

.comment {
  background-color: #ff7171;
  padding: 4.5%; 
}